<head>
    <link rel="stylesheet" href="style.css">
</head>

<!-- figure out how to bypass this if the user is already logged in -->
<!-- 21check.ejs -->
<body class="TwentyOneCheckBackgroundImage">
    <div class="ageCheck">
        <h1>21 Check</h1>
        <form method="POST" action="/21CheckPost">
            <input class="ageCheckInput" type="date" style="color: #046e8f ;" name="birthday">
            <input  type="submit" name="submitbutton" value="Enter" class="submit-btn">
            </form>
    </div>
    
   
</body>