<%- include('nav.ejs') %>


<body>
    <div class="aboutContainer"></div>
    <h1>Why This?</h1>
    <p>Welcome, Parrotheads and Buffett enthusiasts! This website is a passionate project born from a love of all things Jimmy Buffett, Margaritaville, and, of course, delicious food!

        As huge Jimmy Buffett fans, We created this site as a way to explore his music, the Margaritaville lifestyle, and the mouthwatering island-inspired recipes that go hand-in-hand with it. Here, you'll find dedicated sections for:
        
        Jimmy Buffett: Dive into the world of the legendary singer-songwriter. Learn about his musical journey, iconic lyrics, and the inspiration behind the Margaritaville state of mind.
        Margaritaville: Escape to paradise! Explore the Margaritaville concept, its history, and the laid-back, beachy vibes it embodies.
        Recipes: Whip up a taste of the tropics! Discover a collection of delicious recipes inspired by Jimmy Buffett's music and Margaritaville itself.
        This website is a college project designed to showcase my coding skills. It's a non-profit fan site created to share my love for Jimmy Buffett and the Margaritaville spirit.  It is not affiliated with Jimmy Buffett or any of his official organizations.
        
        So, grab a frosty margarita, crank up some tunes, and get ready to explore! I hope you find this website informative, fun, and inspires you to embrace a little bit of fins up living in your own life.</p>
</body>


<%- include('footer.ejs') %>