<%- include('nav.ejs') %>


    <body>
        <div class="container">
            <div class="pageHeader"><h1>Welcome <%=firstName%></h1></div>
            <% if (canDrink == false){ %>
                <div class="canDrinkCountdown">
                    <h2>Time Until First Margaritaville Visit</h2>
                    <div id="timeRemaining" class="daysRemaining">
                        <h2>
                            <%= birthday %>
                        </h2>
                    </div>
                    </div>
            <%}%>

            <div class="logoutButtonDiv">
                <a href="/newpost"><button class="logoutButton"><p class="buttonText">Post Recipe</p></button></a>
            </div>


            <div class="logoutButtonDiv">
                <a href="/logout"><button class="logoutButton"><p class="buttonText">Logout</p></button></a>
            </div>
               


           

        </div>
    </div>
       


        <script>
            let birthdayVar = "<%= birthday %>";
            console.log(birthdayVar);
            setInterval(() => {
                console.log(birthdayVar);
                let dateTest = new Date();
                let year = dateTest.getFullYear();
                let month = dateTest.getMonth() + 1; // Months are 0-indexed
                let day = dateTest.getDate();
                let hour = dateTest.getHours();
                let minute = dateTest.getMinutes();
                let second = dateTest.getSeconds();

                let currentTime = new Date(year, month, day, hour, minute, second);

                let birthYear = parseInt(birthdayVar.slice(0, 4));
                let canDrinkYear = birthYear + 21;
                let birthMonth = parseInt(birthdayVar.slice(5, 7));
                let birthDay = parseInt(birthdayVar.slice(8, 10));

                let yearsRemaining = canDrinkYear - year;
                let monthsRemaining = birthMonth - month;
                let daysRemaining = birthDay - day;
                let hoursRemaining = 24 - hour; // Hours remaining till the end of birth day
                let minutesRemaining = 60 - minute; // Minutes remaining till the end of hour
                let secondsRemaining = 60 - second; // Seconds remaining till the end of minute

                // Handle cases where the birthdayVar is already passed this year
                if (monthsRemaining < 0 || (monthsRemaining === 0 && daysRemaining < 0)) {
                    yearsRemaining -= 1;
                }

                if (monthsRemaining < 0) {
                    monthsRemaining += 12;
                }

                if (daysRemaining < 0) {
                    daysRemaining += new Date(year, month, 0).getDate(); // Get the total days in current month
                }
                times = (`Years: ${yearsRemaining}\nMonths: ${monthsRemaining}\nDays: ${daysRemaining}\nHours: ${hoursRemaining}\nMinutes: ${minutesRemaining}\nSeconds: ${secondsRemaining}`);
                console.log(times);
                document.getElementById("timeRemaining").innerHTML = times;
        }, 1000);
            
        </script>
    </body>