<%- include('nav.ejs') %>


<body>
    <div class="disclaimerContainer">
    <h1>Disclaimer</h1>
    <p>This website is a fan site created for educational purposes only. It is not affiliated with Jimmy Buffett or any of his official organizations. I am a huge Jimmy Buffet fan and this website is a tribute to him and his music. This is a college project to showcase my coding skills and is not intended to make any profit. I do not claim any ownership of the materials used, including music, images, or videos. All copyrights and trademarks belong to their respective owners.

        I hope you enjoy this website!
        
        Sincerely,
        
        Keels and Harry

        If you are looking for Jimmy Buffett's offical website it can be found at <a href="jimmybuffett.com">JimmyBuffett.com</a>
        
        </p>
        </div>
</body>

<%- include('footer.ejs') %>