<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="footerBar">
        <div class="footerTopHalf">
            <h3>In Loving Memory of Jimmy Buffet</h3>
        </div>
        <div class="footerBottomHalf">
            <div class="footerLinks">
                <a href="/about" class="footerA">
                    <p>About</p>
                </a>
                <a href="mailto: harrydnewman@gmail.com, keelsbraga@gmail.com" class="footerA">
                    <p>Contact Us</p>
                </a>
                <a href="/disclaimer" class="footerA">
                    <p>Disclaimer</p>
                </a>
            </div>
            <div class="footerCopyright">
                <h4>Copyright © 2024 • Harrison Newman & Keels Braga</h4>
            </div>
        </div>
    </div>

</body>