<%- include('nav.ejs') %>


    <body class="container ">
       
            <!-- doesnt look lined up -->
            <!-- <h1 class="pageHeader">index.ejs</h1> -->
            
            <!-- <img class="jimmyHomepageImage" src="/images/ripjimmy.png"> -->
            <div class="jimmyHomepageImage"></div>
                
           
               


            <div class="factOfTheDayContainer">

            <div class="factOfTheDay">
                <h1>Fact of the Day</h1>
                <h2 class="todaysDate" id="currentDate">
                </h2>
                <h4 class="todaysFact" id="currentFact"></h4>
            </div>
            <h2 class="jimmyLifeText">Life of Jimmy</h2>
        </div>

            

            <%- include('parallax.ejs') %>
            
            </div>
 
       
        <script>
            let jimmyFacts = [[1, 1, 'On this day, Jimmy Buffet celebrated the New Year in style'],
            [2, 1, 'On this day in 1975, Jimmy Buffet performed at The Main Point in Bryn Mawr, Pennsylvania'],
            [3, 1, 'On this day, Jimmy Buffet performed at The Main Point in Bryn Mawr, Pennsylvania'],
            [4, 1, 'On this day, Jimmy Buffet performed at The Main Point in Bryn Mawr, Pennsylvania'],
            [5, 1, 'On this day, Jimmy Buffet performed at The Main Point in Bryn Mawr, Pennsylvania'],
            [6, 1, 'On this day, Jimmy Buffet performed at The Main Point in Bryn Mawr, Pennsylvania'],
            [7, 1, 'On this day, Jimmy Buffet performed at The Main Point in Bryn Mawr, Pennsylvania'],
            [8, 1, 'On this day, Jimmy Buffet performed at The Main Point in Bryn Mawr, Pennsylvania'],
            [9, 1, 'On this day, Jimmy Buffet performed at The Main Point in Bryn Mawr, Pennsylvania'],
            [10, 1, 'On this day, Jimmy Buffet performed at The Main Point in Bryn Mawr, Pennsylvania'],
            [11, 1, 'On this day, Jimmy Buffet performed at The Main Point in Bryn Mawr, Pennsylvania'],
            [12, 1, 'On this day, Jimmy Buffet performed at The Main Point in Bryn Mawr, Pennsylvania'],
            [13, 1, 'On this day in 1974, Jimmy Buffet performed at the Passim Club in Boston'],
            [14, 1, 'On this day in 1979, Jimmy Buffet performed at the Bloom Music Center in Cuyahoga Falls, Onio'],
            [15, 1, 'On this day, Jimmy Buffet performed at the Bloom Music Center in Cuyahoga Falls, Onio'],
            [16, 1, "On this day in 1996, Jimmy Buffet's plane was shot by Jamacian Authorities"],
            [17, 1, 'On this day, Jimmy Buffet was kicked out of a Miami Heat Basketball game'],
            [18, 1, 'On this day in 1992, Jimmy Buffet performed at Pete Maravich Center in Baton Rouge, Louisiana'],
            [19, 1, 'On this day in 1992, Jimmy Buffet performed at Barton Coliseum in Little Rock Arkansas'],
            [20, 1, 'On this day in 1990, Jimmy Buffet performed at Prairie Surf Studios in Oklahoma City, Oklahoma'],
            [21, 1, 'On this day, Jimmy Buffet performed at Prairie Surf Studios in Oklahoma City, Oklahoma'],
            [22, 1, 'On this day in 1990, Jimmy Buffet performed at the Beacon Theatre in New York City'],
            [23, 1, 'On this day in 1992, Jimmy Buffet performed at Amway Arena in Orlando, Florida'],
            [24, 1, 'On this day in 1980, Jimmy Buffet performed at the Mississippi Coliseum in Jackson, Mississippi'],
            [25, 1, 'On this day in 1990, Jimmy Buffet performed at Eaves Coliseum in Auburn Alabama'],
            [26, 1, 'On this day in 1980, Jimmy Buffet performed at Tampa Stadium in Tampa, Florida'],
            [27, 1, "On this day in 1980, Jimmy Buffet performed at the Steven O'Connell Center in Jacksonville, Florida"],
            [28, 1, "On this day in 1987, Jimmy Buffet performed at America's Cup Ball in Perth, Australia"],
            [29, 1, 'On this day in 1988, Jimmy Buffet performed at EagleBank Arena in Fairfax, Virginia'],
            [30, 1, 'On this day in 1988, Jimmy Buffet performed at the DCU Center in Worchester, Massachusetts'],
            [31, 1, 'On this day in 1984, Jimmy Buffet performed in Perth, Australia'],
            [1, 2, 'On this day in 1988, Jimmy Buffet performed at the Fox Theatre in Atlanta, Georgia'],
            [2, 2, 'On this day in 1988, Jimmy Buffet performed at the Fox Theatre in Atlanta, Georgia'],
            [3, 2, 'On this day in 1988, Jimmy Buffet performed at the Pensacola Civic Center in Pensacola, Florida'],
            [4, 2, 'Jimmy Buffet is a Best Selling Author'],
            [5, 2, 'On this day in 1981, Jimmy Buffet performed at the Sunrise Music Festival in Fort Luaderdale, Florida'],
            [6, 2, 'On this day in 1988, Jimmy Buffet performed at Littlejohn Coliseum in Clemson, South Carolina'],
            [7, 2, 'On this day in 1987, Jimmy Buffet performed at the Perth Concert Hall in Dundee, Scotland'],
            [8, 2, 'On this day in 1988, Jimmy Buffet performed at University Hall in Charlottesville, Virginia'],
            [9, 2, 'On this day, Jimmy Buffet performed at the Ice Palace in Tampa, Florida'],
            [10, 2, 'On this day in 1988, Jimmy Buffet performed at the Varsity Gymnasium in Winston-Salem, North Carolina'],
            [11, 2, 'On this day in 1988, Jimmy Buffet performed at the Tallahassee County Civic Center in Tallahassee, Florida'],
            [12, 2, 'On this day in 1977, Jimmy Buffet performed at the Dohan Civic Center in Dothan, Alabama'],
            [13, 2, 'On this day in 1977, Jimmy Buffet performed at the Savannah Civic Center in Savannah, Georgia'],
            [14, 2, 'On this day in 1981, Jimmy Buffet performed at th RP Funding Center in Tampa, Florida'],
            [15, 2, 'On this day in 1984, Jimmy Buffet performed at the USF Sun Dome in Tampa, Florida'],
            [16, 2, 'On this day in 1987, Jimmy Buffet performed at the Queensland Performing Arts Center  in Brisbane, Australia'],
            [17, 2, 'On this day in 1998, Jimmy Buffet performed at The Palace of Auburn Hills in Auburn Hills, Michigan'],
            [18, 2, 'On this day in 1974, Jimmy Buffet performed in Los Angeles'],
            [19, 2, 'On this day in 1974, Jimmy Buffet performed at The Record Plant in San Francisco'],
            [20, 2, 'On this day in 1974, Jimmy Buffet performed at Quiet Knight in Chicago '],
            [21, 2, 'On this day, Jimy Buffet performed at the Bottom Line in New York City'],
            [22, 2, 'On this day in 1997, Jimmy Buffet performed at Think Financial Amphitheater in West Palm Beach, Florida'],
            [23, 2, 'On this day in 1988, Jimmy Buffet performed at NRG Stadium in Houston, Texas'],
            [24, 2, 'On this day in 1979, Jimmy Buffet performed at the Kay Hutchinson Convention Center in Dallas, Texas'],
            [25, 2, 'On this day in 1977, Jimmy Buffet performed at the Tillman Auditorium in Augusta, Georgia'],
            [26, 2, 'On this day, Jimmy Buffet performed at HemisFair Arena in San Antonio, Texas'],
            [27, 2, 'On this day in 1979, Jimmy Buffet performed at the UT Special Events Center in Austin, Texas'],
            [28, 2, 'Jimmy Buffet Has Sold Over 20 Million Albums Worldwide '],
            [29, 2, 'Jimmy Buffet Embarked on Over 40 Tours During His Musical Career'],
            [1, 3, 'On this day in 1974, Jimmy Buffet performed at the SSU Café in Springfield, Illinois'],
            [2, 3, 'On this day in 1974, Jimmy Buffet performed at the SSU Café in Springfield, Illinois'],
            [3, 3, 'On this day in 1974, Jimmy Buffet performed at the Lantz Arena in Charleston, Illinois'],
            [4, 3, 'On this day in 1974, Jimmy Buffet performed at the Purdue Auditorium in West Lafayette, Indiana '],
            [5, 3, 'On this day in 1982, Jimmy Buffet performed at the Lloyd Noble Center in Oklahoma City, Oklahoma'],
            [6, 3, 'On this day, Jimmy Buffet performed at the Illinois Eastern Auditorium in East Peoria, Illinois'],
            [7, 3, 'On this day in 1980, Jimmy Buffet performed at Asheville Civic Center in Asheville, North Carolina'],
            [8, 3, 'On this day in 1974, Jimmy Buffet performed at the Foelinger Auditorium in Urbana, Illinois'],
            [9, 3, 'On this day in 1979, Jimmy Buffet performed at the University Activity Center in Pheonix, Arizona'],
            [10, 3, 'On this day in 1974, Jimmy Buffet performed at the Sam Houston Coliseum in Houston, Texas'],
            [11, 3, 'On this day in 1978, Jimmy Buffet performed at the Tower Theatre in Darby Pennsylvania'],
            [12, 3, 'On this day in 1978, Jimmy Buffet performed at  Lincoln Center in New York City'],
            [13, 3, 'On this day in 1974, Jimmy Buffet performed at the Exit Inn in Nashville, Tennessee'],
            [14, 3, 'On this day in 1977, Jimmy Buffet performed at the XL Center in Hartford, Connecticut'],
            [15, 3, 'On this day in 1974, Jimmy Buffet performed at the Exit Inn in Nashville, Tennessee'],
            [16, 3, 'On this day in 1974, Jimmy Buffet performed at the Exit Inn in Nashville, Tennessee'],
            [17, 3, 'On this day in 1978, Jimmy Buffet performed at the Maple Leaf Gardens in Toronto, Canada'],
            [18, 3, 'On this day in 1977, Jimmy Buffet performed his first show at Madison Square Garden in New York City'],
            [19, 3, 'On this day, Jimy Buffet performed at Daytona Beach Memorial Stadium in Orlando, Florida'],
            [20, 3, 'On this day in 1980, Jimmy Buffet performed at Music Hall in Boston'],
            [21, 3, 'On this day in 1977, Jimmy Buffet performed at the Capital Centre in Landover, Maryland'],
            [22, 3, 'On this day in 1977, Jimmy Buffet performed at the Captial Centre in Landover, Maryland'],
            [23, 3, 'On this day, Jimmy buffet performed at the Amarillo Civic Center in Amarillo, Texas'],
            [24, 3, 'On this day, Jimmy Buffet performed at the Armadillo World Headquarters in Austin, Texas'],
            [25, 3, 'On this day, Jimmy Buffet performed at the Armadillo World Headquarters in Austin, Texas'],
            [26, 3, 'On this day in 1977, Jimmy Buffet performed at the New Haven Memorial Coliseum in New Haven, Connecticut'],
            [27, 3, 'On this day in 1977, Jimmy Buffet performed at the Broome County Arena in Binghamton, New York'],
            [28, 3, 'On this day in 1978, Jimmy Buffet performed at the American Family Amphitheater in Milwaukee, Wisconsin'],
            [29, 3, 'On this day in 1977, Jimmy Buffet performed at the Montreal Forum in Montreal, Canada'],
            [30, 3, 'On this day in 1977, Jimmy Buffet performed at the Maple Leaf Gardens in Toronto, Canada'],
            [31, 3, 'On this day in 1977, Jimmy Buffet performed at Richfield Coliseum in Richfield, Ohio'],
            [1, 4, 'On this day in 1977, Jimmy Buffet performed at Richfield Coliseum in Richfield, Ohio'],
            [2, 4, 'On this day in 1977, Jimmy Buffet performed at Lakeland International Speedway in Lakeland, Florida'],
            [3, 4, 'On this day in 1987, Jimmy Buffet performed at the Dean E. Smith Center in Chapel Hill, North Carolina'],
            [4, 4, 'On this day in 1978, Jimmy Buffet performed at Memorial Hall in Kansas City, Missouri'],
            [5, 4, 'On this day in 1987, Jimmy Buffet performed at Godwin Hall in Harrisonburg, Virginia'],
            [6, 4, 'On this day in 1983, Jimmy Buffet performed at the Poplar Creek Music Theater in Aurora, Illinois'],
            [7, 4, 'On this day, Jimmy Buffet performed at the Tad Smith Coliseum in Oxford, Mississippi'],
            [8, 4, 'Jimmy Buffet Calls His Genre of Music "Gulf and Western"'],
            [9, 4, 'Jimmy Buffet Appeared in an Episode of Hawaii Five-0'],
            [10, 4, 'Jimmy Buffet Made a Cameo in Jurrassic World'],
            [11, 4, 'On this day in 1983, Jimmy Buffet performed at the Indiana University Arena in Indianapolis, Indiana'],
            [12, 4, 'On this day in 1995, Jimmy Buffet performed at the Mississippi Coast Coliseum in Mobile, Alabama'],
            [13, 4, 'Jimmy Buffet Loves Manatees'],
            [14, 4, 'On this day in 1979, Jimmy Buffet performed at the Charles Murphy Athletic Center in Murfreesboro, Tennessee'],
            [15, 4, 'On this day, Jimmy Buffet performed at the University of Florida in Gainsville'],
            [16, 4, 'On this day, Jimmy Buffet performed at NLU in Monroe Louisiana'],
            [17, 4, 'On this day in 1995, Jimmy Buffet performed at the Tallahassee County Civic Center in Tallahassee, Florida'],
            [18, 4, 'On this day in 1979, Jimmy Buffet performed at the Beard-Evas Memorial Stadium in Columbus, Georgia'],
            [19, 4, 'On this day in 1995, Jimmy Buffet performed at the Miami Arena in Miami, Florida'],
            [20, 4, 'On this day in 2010, Jimmy Buffet released Encores'],
            [21, 4, 'On this day in 1979, Jimmy Buffet performed at the Kenan Memorial Stadium in Chapel Hill, North Carolina'],
            [22, 4, 'On this day in 1974, Jimmy Buffet performed with Lynyrd Skynyrd in Florence,  Alabama'],
            [23, 4, 'On this day in 1974, Jimmy Buffet performed at the Troubador in Hollywood'],
            [24, 4, 'On this day, Jimmy Buffet performed at the Troubador in Hollywood'],
            [25, 4, 'On this day in 1976, Jimmy Buffet performed at Cal State Long Beach in Long Beach, California'],
            [26, 4, "On this day in 1975, Jimmy Buffet performed at Giley's Pasadena in Pasadena, Texas"],
            [27, 4, 'On this day, Jimmy Buffet performed at the Troubador in Hollywood'],
            [28, 4, 'On this day, Jimmy Buffet performed at the Troubador in Hollywood'],
            [29, 4, 'On this day in 1977, Jimmy Buffet performed at the Louisiana Country Jamboree in Shreveport, Louisiana'],
            [30, 4, 'On this day in 1976, Jimmy Buffet performed at the Aztec Center in San Diego, California'],
            [1, 5, 'On this day, Jimmy Buffet performed at Flowers Hall in Hunstville, Alabama'],
            [2, 5, 'On this day, Jimmy Buffet performed at the San Diego Civic Theatre in San Diego, California'],
            [3, 5, 'On this day, Jimmy Buffet performed at the San Diego Civic Theatre in San Diego, California'],
            [4, 5, 'On this day, Jimmy Buffet performed at the San Diego Civic Theatre in San Diego, California'],
            [5, 5, 'On this day in 2000, Jimmy Buffet performed a duet with Lyle Lovett at the New Orleans Jazz Fest'],
            [6, 5, 'On this day, Jimmy Buffet performed at the Roxy Theater in West Hollywood, California'],
            [7, 5, 'On this day in 1997, Jimmy Buffet performed at the Cynthia Woods Mitchell Pavillion in Houston, Texas'],
            [8, 5, 'On this day, Jimmy Buffet performed at the Cynthia Woods Mitchell Pavillion in Houston, Texas'],
            [9, 5, 'On this day in 1997, Jimmy Buffet performed at the Cynthia Woods Mitchell Pavillion in Houston, Texas'],
            [10, 5, 'On this day in 1997, Jimmy Buffet performed at the Cynthia Woods Mitchell Pavillion in Houston, Texas'],
            [11, 5, 'On this day in 1977, Jimmy Buffet performed at the Community Center in Tucson, Arizona'],
            [12, 5, 'On this day in 1974, Jimmy Buffet performed at Music Hall in Boston'],
            [13, 5, 'On this day in 1978, Jimmy Buffet appeared on SNL for the first and only time'],
            [14, 5, 'On this day, Jimmy Buffet performed at the Tucson Community Center in Tucson, Arizona'],
            [15, 5, 'On this day in 1977, Jimmy Buffet performed at the San Diego Civic Theatre in San Diego, California'],
            [16, 5, 'On this day in 1977, Jimmy Buffet performed at the Santa Monica Civic Auditorium in Santa Monica, California'],
            [17, 5, 'On this day, Jimmy Buffet performed at the Boarding House in San Francisco'],
            [18, 5, 'On this day, Jimmy Buffet performed at the Boarding House in San Francisco'],
            [19, 5, "On this day in 1974, Jimmy Buffet performed at Max's Kansas City in New York City"],
            [20, 5, 'On this day, Jimmy Buffet performed at the Lane County Fairgrounds in Salem, Oregon'],
            [21, 5, "On this day, Jimmy Buffet performed at Max's Kansas City in New York City"],
            [22, 5, "On this day, Jimmy Buffet performed at Max's Kansas City in New York City"],
            [23, 5, "On this day, Jimmy Buffet performed at Max's Kansas City in New York City"],
            [24, 5, "On this day, Jimmy Buffet performed at Max's Kansas City in New York City"],
            [25, 5, "On this day, Jimmy Buffet performed at Max's Kansas City in New York City"],
            [26, 5, "On this day, Jimmy Buffet performed at Max's Kansas City in New York City"],
            [27, 5, "On this day, Jimmy Buffet performed at Max's Kansas City in New York City"],
            [28, 5, 'On this day in 1985, Jimmy Buffet performed at the Pheonix Municipal Center in Pheonix, Arizona'],
            [29, 5, 'On this day in 1977, Jimmy Buffet performed at the Paramount Theatre in Seattle, Washington'],
            [30, 5, 'On this day in 1992, Jimmy Buffet performed at Riverbend Music Center in Cincinatti, Ohio'],
            [31, 5, 'On this day in 1992, Jimmy Buffet performed at S&T Music Park in Pittsburgh, Pennsylvania'],
            [1, 6, 'On this day in 1985, Jimmy Buffet performed at Candlestick Park in San Francisco, California'],
            [2, 6, 'On this day in 1985, Jimmy Buffet performed at the Civic Stadium in Portland, Oregon'],
            [3, 6, 'On this day, Jimmy Buffet performed at the Moda Center in Portland, Oregon'],
            [4, 6, 'On this day, Jimmy Buffet performed at The Main Point in Bryn Mawr, Pennsylvania'],
            [5, 6, 'On this day, Jimmy Buffet performed at The Main Point in Bryn Mawr, Pennsylvania'],
            [6, 6, 'On this day, Jimmy Buffet performed at OSU  in Columbus, Ohio'],
            [7, 6, 'On this day in 1985, Jimmy Buffet performed at Azura Amphitheater in Overland Park, Kansas'],
            [8, 6, 'On this day in 1978, Jimmy Buffet performed at the Mississippi River Program in Edwardsville, Illinois'],
            [9, 6, 'On this day in 1978, Jimmy Buffet performed at Spartan Stadium in San Jose, California'],
            [10, 6, 'On this day in 1978, Jimmy Buffet performed at the Calveras County Fairgrounds in Angels Camp, California'],
            [11, 6, 'On this day in 1978, Jimmy Buffet performed at the Calveras County Fairgrounds in Angels Camp, California'],
            [12, 6, 'On this day in 1982, Jimmy Buffet performed at the Irvine Meadows Amphitheater in Irvine, California'],
            [13, 6, 'On this day in 1987, Jimmy Buffet performed at Carowinds in Charlotte, North Carolina'],
            [14, 6, 'On this day in 1986, Jimmy Buffet performed at Carowinds in Charlotte, North Carolina'],
            [15, 6, 'On this day in 1983, Jimmy Buffet performed at Carowinds in Charlotte, North Carolina'],
            [16, 6, 'On this day, Jimmy Buffet performed at the Bottom Line in New York City'],
            [17, 6, "On this day in 1973, Jimmy Buffet performed at Max's Kansas City in New York City"],
            [18, 6, 'On this day in 1986, Jimmy Buffet performed at the Xfinity Center in Mansfield, Massachusetts'],
            [19, 6, 'On this day in 1978, Jimmy Buffet performed at the Hollywood Bowl in Los Angeles'],
            [20, 6, 'On this day in 1978, Jimmy Buffet performed at Universal Studios in Los Angeles'],
            [21, 6, 'On this day in 1978, Jimmy Buffet performed at the Hollywood Bowl in Los Angeles'],
            [22, 6, 'On this day in 1982, Jimmy Buffet performed at Red Rocks in Morrison, Colorado'],
            [23, 6, 'On this day in 1982, Jimmy Buffet performed at Red Rocks in Morrison, Colorado'],
            [24, 6, 'On this day in 1981, Jimmy Buffet performed at Red Rocks in Morrison, Colorado'],
            [25, 6, 'On this day in 1978, Jimmy Buffet performed at the Cal Coat Credit Union Theater in an Diego, California'],
            [26, 6, 'On this day in 1980, Jimmy Buffet performed at Universal Studios in Los Angeles'],
            [27, 6, 'On this day in 1980, Jimmy Buffet performed at Universal Studios in Los Angeles'],
            [28, 6, 'On this day in 1977, Jimmy Buffet performed at the Sarasota Armory in St. Petersburg, Florida '],
            [29, 6, 'On this day in 1977, Jimmy Buffet performed at the Sarasota Armory in St. Petersburg, Florida '],
            [30, 6, 'On this day in 1977, Jimmy Buffet performed at the Sarasota Armory in St. Petersburg, Florida '],
            [1, 7, 'On this day in 1977, Jimmy Buffet performed at Miami Baseball Stadium in Miami, Florida'],
            [2, 7, 'On this day in 1975, Jimy Buffet performed  at Casino Miami in Miami, Florida'],
            [3, 7, 'On this day in 1975, Jimmy Buffet performed at Orange Country Radio in Orlando, Florida'],
            [4, 7, 'On this day in 1974, Jimmy Buffet performed at the Texas Motor Speedway in College Station, Texas '],
            [5, 7, 'On this day in 1980, Jimmy Buffet performed at the Poplar Creek Music Theater in Aurora, Illinois'],
            [6, 7, 'On this day in 1984, Jimmy Buffet performed at the Merriweather Post Pavillion in Columbia, Maryland'],
            [7, 7, 'On this day in 1977, Jimmy Buffet performed at Tarrant County Convention Center in Fort Worth, Texas'],
            [8, 7, 'On this day in 1980, Jimmy Buffet performed at Tanglewood in Springfield Massachusetts'],
            [9, 7, 'On this day in 1976, Jimmy Buffet performed at The Tom Sawyer in St. Petersburg, Florida'],
            [10, 7, 'On this day in 1980, Jimmy Buffet performed at the Merriweather Post Pavillion in Columbia, Maryland'],
            [11, 7, 'On this day in 1980, Jimmy Buffet performed at the Merriweather Post Pavillion in Columbia, Maryland'],
            [12, 7, 'On this day in 1980, Jimmy Buffet performed at the Merriweather Post Pavillion in Columbia, Maryland'],
            [13, 7, 'On this day in 1977, Jimmy Buffet performed at the Carolina Coliseum in Columbia, South Carolina'],
            [14, 7, 'On this day in 1988, Jimmy Buffet performed at Riverbend Music Center in Cincinatti, Ohio'],
            [15, 7, 'On this day in 1978, Jimmy Buffet performed at the Belmont Park Racetrack New York'],
            [16, 7, 'On this day in 1976, Jimmy Buffet performed at Carowinds in Charlotte, North Carolina'],
            [17, 7, 'On this day in 1989, Jimmy Buffet performed at the Mann Center for Performing Arts in Philidelphia, Pennsylvania'],
            [18, 7, 'On this day in 1976, Jimmy Buffet performed at Carter Barron Amphitheatre in Washington DC'],
            [19, 7, 'On this day in 1981, Jimmy Buffet performed at Palladium Hall in New York City'],
            [20, 7, 'On this day in 1990, Jimmy Buffet performed at Hilton Head Stadium in Hilton Head, SC'],
            [21, 7, 'On this day in 1979, Jimmy Buffet performed at the Cal Coat Credit Union Theater in an Diego, California'],
            [22, 7, 'On this day in 1977, Jimmy Buffet performed at the Auditorium Theatre in Chicago, Illinois'],
            [23, 7, 'On this day in 1976, Jimmy Buffet performed at City Park in Oklahoma City, Oklahoma'],
            [24, 7, 'On this day in 1977, Jimmy Buffet performed at the Merriweather Post Pavillion in Columbia, Maryland'],
            [25, 7, 'On this day in 1977, Jimmy Buffet performed at the Bloom Music Center in Cuyahoga Falls, Onio'],
            [26, 7, 'On this day in 1976, Jimmy Buffet performed at KLRU in Austin, Texas'],
            [27, 7, 'On this day in 1976, Jimmy Buffet performed at the Armadillo World Headquarters in Austin, Texas'],
            [28, 7, 'On this day in 1976, Jimmy Buffet performed at the Armadillo World Headquarters in Austin, Texas'],
            [29, 7, 'On this day in 1979, Jimmy Buffet performed at the Greek Theater in Los Angeles'],
            [30, 7, 'On this day, Jimmy Buffet performed in Bennington, Vermont'],
            [31, 7, 'On this day in 1979, Jimmy Buffet performed at Red Rocks in Morrison, Colorado'],
            [1, 8, 'On this day in 1979, Jimmy Buffet performed at Red Rocks in Morrison, Colorado'],
            [2, 8, 'On this day in 1977, Jimmy Buffet performed at Rumsey Playfield in New York City'],
            [3, 8, 'On this day in 1986, Jimmy Buffet performed at the Irvine Meadows Amphitheater in Irvine, California'],
            [4, 8, 'On this day in 1978, Jimmy Buffet performed at Miami Stadium in Miami, Florida'],
            [5, 8, 'On this day in 1978, Jimmy Buffet performed at the Tangerine Bowl in Orlando Florida'],
            [6, 8, 'On this day in 1985, Jimmy Buffet performed at Red Rocks in Morrison, Colorado'],
            [7, 8, 'On this day in 1987, Jimmy Buffet performed at the Mississippi Coast Coliseum in Mobile, Alabama'],
            [8, 8, 'On this day in 1976, Jimmy Buffet perfomed in Little Rock Arkansas'],
            [9, 8, 'On this day in 1978, Jimmy Buffet performed at the Fox Theatre in Atlanta, Georgia'],
            [10, 8, 'On this day in 1978, Jimmy Buffet performed at the Fox Theatre in Atlanta, Georgia'],
            [11, 8, 'On this day in 1987, Jimmy Buffet performed at Firebird Lake in Chandler, Arizona'],
            [12, 8, 'On this day in 1977, Jimmy Buffet performed at the LeClair Park Bandshell in Davemport, Iowa '],
            [13, 8, 'On this day in 1986, Jimmy Buffet performed at the Houston Auditorium in Houston, Texas'],
            [14, 8, 'On this day in 1978, Jimmy Buffet performed at the Gusman Cultural Center in Miami, Florida'],
            [15, 8, 'On this day in 1978, Jimmy Buffet performed at the Gusman Cultural Center in Miami, Florida'],
            [16, 8, 'On this day in 1978, Jimmy Buffet performed at the Gusman Cultural Center in Miami, Florida'],
            [17, 8, 'On this day in 1985, Jimmy Buffet performed at the Marine Stadium in Miami, Florida'],
            [18, 8, 'On this day in 1978, Jimmy Buffet performed at the Alpine Music Theatre in East Troy, Wisconsin'],
            [19, 8, 'On this day in 1977, Jimmy Buffet performed at Red Rocks in Morrison, Colorado'],
            [20, 8, "On this day in 1986, Jimmy Buffet performed at Waikiki Shell in Honolulu, Hawai'i"],
            [21, 8, 'On this day in 1984, Jimmy Buffet performed at th Open Air Amphitheater in San Diego, California'],
            [22, 8, "On this day in 1986, Jimmy Buffet performed at Royal Lahaina Stadium in Maui, Hawai'i"],
            [23, 8, 'On this day, Jimmy Buffet performed at Euphoria Tavern in Portland, Oregon'],
            [24, 8, 'On this day, Jimmy Buffet performed at the Opera House in Seattle, Washington'],
            [25, 8, 'On this day in 1985, Jimmy Buffet performed at the Orange County Civic Center in Orlando, Florida'],
            [26, 8, 'On this day, Jimmy Buffet survived a plane crash 🫶🏼'],
            [27, 8, 'On this day in 1983, Jimmy Buffet performed at the Sheridan Opera House in Colorado Springs, Colorado'],
            [28, 8, 'On this day in 1986, Jimmy Buffet performed at the Long Beach Arena in Long Beach, California'],
            [29, 8, 'On this day in 1983, Jimmy Buffet performed at the Irvine Meadows Amphitheater in Irvine, California'],
            [30, 8, 'On this day, Jimmy Buffet performed at the Ritz Music Hall in Corpus Christi, Texas'],
            [31, 8, 'On this day in 1973, Jimmy Buffet performed at the Lion Share in San Francisco'],
            [1, 9, 'On this day, Jimmy Buffet passed away'],
            [2, 9, 'On this day in 1973, Jimmy Buffet performed at the Lion Share in San Francisco'],
            [3, 9, 'On this day in 1973, Jimmy Buffet performed at the Aztec Center in San Diego, California'],
            [4, 9, 'On this day, Jimmy Buffet performed at Jacksonville University in Jacksonville, Florida'],
            [5, 9, 'On this day in 1976, Jimmy Buffet performed at Hermitage Landing in Nashville, Tennessee'],
            [6, 9, 'On this day in 1985, Jimmy Buffet performed at the Royal Sonesta in Boston, Massachusetts'],
            [7, 9, 'On this day in 1993, Jimmy Buffet performed at Foxboro Stadium in Foxborough, Massachusetts'],
            [8, 9, 'On this day in 1972, Jimmy Biffet performed at the Catskellar in Manhattan, Kansas'],
            [9, 9, 'On this day, Jimmy Buffet performed at the Boarding House in San Francisco'],
            [10, 9, 'On this day, Jimmy Buffet performed at the Boarding House in San Francisco'],
            [11, 9, 'On this day in 1976, Jimmy Buffet performed at the Triad Arena in Greensboro, North Carolina'],
            [12, 9, 'On this day, Jimmy Buffet performed at the Boarding House in San Francisco'],
            [13, 9, 'On this day, Jimmy Buffet performed at the Roxy Theater in West Hollywood, California'],
            [14, 9, 'On this day, Jimmy Buffet performed at the Roxy Theater in West Hollywood, California'],
            [15, 9, 'On this day in 1997, Jimmy Buffet performed at the Royal Albert Hall in London, England'],
            [16, 9, 'On this day in 1977, Jimmy Buffet performed at the Von Braun Arena in Hunstville, Alabama'],
            [17, 9, 'On this day in 1977, Jimmy Buffet performed at the Mississippi Coliseum in Jackson, Mississippi'],
            [18, 9, "On this day in 1973, Jimmy Buffet performed at Paul's Mall in Boston"],
            [19, 9, "On this day in 1973, Jimmy Buffet performed at Paul's Mall in Boston"],
            [20, 9, 'On this day in 1973, Jimmy Buffet performed at Jake Nevin Field in Philidelphia'],
            [21, 9, "On this day in 1973, Jimmy Buffet performed at Paul's Mall in Boston"],
            [22, 9, "On this day in 1973, Jimmy Buffet performed at Paul's Mall in Boston"],
            [23, 9, "On this day in 1973, Jimmy Buffet performed at Paul's Mall in Boston"],
            [24, 9, 'On this day in 1974, Jimmy Buffet performed at The Main Point in Bryn Mawr, Pennsylvania'],
            [25, 9, 'On this day in 2000, Jimmy Buffet performed at a fundraiser for presidential nominee Al Gore'],
            [26, 9, 'On this day in 1992, Jimmy Buffet performed at the Hurrican Andrew Relief Concert in Miami, Florida'],
            [27, 9, 'On this day in 1980, Jimmy Buffet performed at the Fox Theatre in Atlanta, Georgia'],
            [28, 9, 'On this day in 1977, Jimmy Buffet performed at the Memorial Auditorium in Charlotte,  North Carolina'],
            [29, 9, 'On this day in 1996, Jimmy Buffet performed at the Gorge Amphitheater in Gorge, Washington'],
            [30, 9, "On this day, Jimmy Buffet performed at the Aloha Stadium in Honolulu, Hawai'i"],
            [1, 10, 'On this day in 1979, Jimmy Buffet performed at Cameron Statium in Durham, North Carolina'],
            [2, 10, 'On this day in 1976, Jimmy Buffet performed at the Raising Canes River Center Arena in Baton Rouge, Louisiana'],
            [3, 10, 'On this day in 1977, Jimmy Buffet performed at the Towson Auditorium in Towson, Maryland'],
            [4, 10, 'On this day in 1979, Jimmy Buffet performed at the WSU Performing Arts Coliseum in Spokane, Washington'],
            [5, 10, 'On this day in 1996, Jimmy Buffet performed at the MGM Grand Areana in Las Vegas, Nevada'],
            [6, 10, 'On this day in 2006, Jimmy Buffet was caught with Ecstasy by french authorities'],
            [7, 10, 'On this day, Jimmy Buffet performed in Winnipeg, Canada'],
            [8, 10, 'On this day in 1993, Jimmy Buffet performed at the Irvine Meadows Amphitheater in Irvine, California'],
            [9, 10, 'On this day in 1977, Jimmy Buffet performed at the Charleston Civic Center in Charleston, West Virginia'],
            [10, 10, 'On this day in 2006, Jimmy Buffet released Take The Weather With You'],
            [11, 10, 'On this day in 1976, Jimmy Buffet perfomed at the Jai Alai Fronton in Tampa, Florida'],
            [12, 10, 'On this day in 1988, Jimmy Buffet performed at the Sunrise Music Theater  in Fort Luaderdale, Florida'],
            [13, 10, 'On this day, Jimmy Buffet performed at at the East Hampton Benefit Show'],
            [14, 10, 'On this day in 1993, Jimmy Buffet performed at the Veterans Memorial Coliseum in Portland, Oregon'],
            [15, 10, 'On this day, Jimmy Buffet performed at the Troubador in Hollywood'],
            [16, 10, 'On this day, Jimmy Buffet performed at the Troubador in Hollywood'],
            [17, 10, 'On this day, Jimmy Buffet performed at the Troubador in Hollywood'],
            [18, 10, 'On this day, Jimmy Buffet performed at the Troubador in Hollywood'],
            [19, 10, 'On this day, Jimmy Buffet performed at the Troubador in Hollywood'],
            [20, 10, 'On this day, Jimmy Buffet performed at the Troubador in Hollywood'],
            [21, 10, 'ON this day, Jimmy Buffet performed at the Von Braun Arena in Hunstville, Alabama'],
            [22, 10, 'On this day, Jimmy Buffet performed at the Boarding House in San Francisco'],
            [23, 10, 'On this day in 1976, Jimmy Buffet performed at the Lisner Auditorium in Washington, DC'],
            [24, 10, 'On this day, Jimmy Buffet performed at the Boarding House in San Francisco'],
            [25, 10, 'On this day in 1976, Jimmy Buffet performed at the Bottom Line in New York City'],
            [26, 10, 'On this day, Jimmy Buffet performed at the Boarding House in San Francisco'],
            [27, 10, 'On this day, Jimmy Buffet performed at the Boarding House in San Francisco'],
            [28, 10, 'On this day in 1985, Jimmy Buffet released Songs You Know By Heart'],
            [29, 10, 'On this day in 1979, Jimmy Buffet performed at The Omni in Atlanta, Georgia'],
            [30, 10, 'On this day in 1990, Jimmy Buffet released Feeding Frenzy'],
            [31, 10, 'On this day in 1980, Jimmy Buffet performed in Mobile, Alabama'],
            [1, 11, 'On this day, Jimmy Buffet performed at William and Mary Hall in Newport News, Virginia'],
            [2, 11, 'ON this day, Jimmy Buffet performed at Cole Field in College Park, Maryland'],
            [3, 11, 'On this day in 1984, Jimmy Buffet performed at the Pacific Amphitheater in Costa Mesa, California'],
            [4, 11, 'On this day in 1980, Jimmy Buffet performed at the MSU Auditorium in Grand Rapids, Michigan'],
            [5, 11, 'On this day in 1982, Jimmy Buffet performed at the Bayfront Center in St. Petersburg, Florida'],
            [6, 11, 'On this day in 1982, Jimmy Buffet performed at The Summit in Houston, Texas'],
            [7, 11, 'On this day in 1986, Jimmy Buffet performed at the Beard-Eaves Memorial Stadium in Auburn, Alabama'],
            [8, 11, 'On this day in 1986, Jimmy Buffet performed at the USF Sun Dome in Tampa, Florida'],
            [9, 11, 'On this day in 1983, Jimmy Buffet performed at the Von Braun Arena in Hunstville, Alabama'],
            [10, 11, 'On this day in 1986, Jimmy Buffet performed at the James L Knight International Center in Miami, Florida'],
            [11, 11, 'On this day, Jimmy Buffet performed at the Saenger Theatre in Mobile, Alabama'],
            [12, 11, 'On this day, Jimmy Buffet performed at the Compaq Center in Houston, Texas'],
            [13, 11, 'On this day in 1986, Jimmy Buffet performed at the West Palm Beach Auditorium in West Palm Beach, Florida'],
            [14, 11, 'On this day, Jimmy Buffet performed at the Memorial Gymnasium in Knoxville, Tennessee'],
            [15, 11, "On this day in 1983, Jimmy Buffet performed at the Steven O'Connell Center in Jacksonville, Florida"],
            [16, 11, 'On this day, Jimmy Buffet performed at the Bayfront Center in St. Petersburg, Florida'],
            [17, 11, 'On this day in 1983, Jimmy Buffet performed at the West Palm Beach Auditorium in West Palm Beach, Florida'],
            [18, 11, 'On this day in 1983, Jimmy Buffet performed at the Bayfront Center in St. Petersburg, Florida'],
            [19, 11, 'On this day, Jimmy Buffet performed at the Bayfront Center in St. Petersburg, Florida'],
            [20, 11, 'On this day in 1983, Jimmy Buffet performed at the Tallahassee County Civic Center in Tallahassee, Florida'],
            [21, 11, 'On this day, Jimmy Buffet performed at the Gexa Energy Pavillion in Dallas, Texas'],
            [22, 11, 'On this day, Jimmy Buffet performed at the Gexa Energy Pavillion in Dallas, Texas'],
            [23, 11, 'On this day, Jimmy Buffet performed at the Gexa Energy Pavillion in Dallas, Texas'],
            [24, 11, 'On this day in 1983, Jimmy Buffet performed at the James L Knight International Center in Miami, Florida'],
            [25, 11, 'On this day in 1983, Jimmy Buffet performed at the James L Knight International Center in Miami, Florida'],
            [26, 11, 'On this day in 1983, Jimmy Buffet performed at the James L Knight International Center in Miami, Florida'],
            [27, 11, 'On this day in 1982, Jimmy Buffet performed at the Bob Marley Performing Center in Montego Bay, Jamacia'],
            [28, 11, 'On this day, Jimmy Buffet performed at the Bob Marley Performing Center in Montego Bay, Jamacia'],
            [29, 11, 'On this day in 1983, Jimmy Buffet performed at the Syria Mosque in Pittsburgh, Pennsylvania'],
            [30, 11, 'On this day in 1983, Jimmy Buffet performed at the DAR Constitution Hall in Washington DC'],
            [1, 12, 'On this day, Jimmy Buffet performed at the Addition Financial Arena in Orlando, Florida'],
            [2, 12, 'On this day in 1998, Jimmy Buffet performed at the Mobile Civic Center in Mobile, Alabama'],
            [3, 12, 'On this day in 1989, Jimmy Buffet performed at the King Street Palace in Charlestion, South Carolina for Hurricane Hugo relief'],
            [4, 12, 'On this day in 1976, Jimmy Buffet performed  at the Peterson Gym in San Diego, California'],
            [5, 12, 'On this day in 1976, Jimmy Buffet performed at Berkeley Community Center in San Francisco, California'],
            [6, 12, 'On this day in 1974, Jimmy Buffet performed at the Ritz Music Hall in Corpus Christi, Texas'],
            [7, 12, 'On this day in 1984, Jimmy Buffet performed at the Sunrise Music Theater  in Fort Luaderdale, Florida'],
            [8, 12, 'On this day, Jimmy Buffet performed at the DAR Constitution Hall in Washington DC'],
            [9, 12, 'On this day, Jimmy Buffet performed at Think Financial Amphitheater in West Palm Beach, Florida'],
            [10, 12, 'On this day in 1983, Jimmy Buffet performed at the Savannah Civic Center in Savannah, Georgia'],
            [11, 12, 'On this day in 1976, Jimmy Buffet perfomed at the Paramount Theatre in Seattle, Washington'],
            [12, 12, 'On this day in 1987, Jimmy Buffet performed at Margarittaville in New Orleans, Louisiana'],
            [13, 12, 'On this day in 1976, Jimmy Buffet performed  at the North Alberta Auditorium in Edmonton, Canada'],
            [14, 12, 'On this day in 1976, Jimmy Buffet performed at the Calgary Convention Center in Calgary, Canada'],
            [15, 12, 'On this day, Jimmy Buffet performed at the MGM Grand Areana in Las Vegas, Nevada'],
            [16, 12, 'On this day, Jimmy Buffet performed at the MGM Grand Areana in Las Vegas, Nevada'],
            [17, 12, 'On this day in 1976, Jimmy Buffet performed at the Hofbrau House in Reno, Nevada'],
            [18, 12, 'On this day, Jimmy Buffet performed at the Hofbrau House in Reno, Nevada'],
            [19, 12, 'On this day, Jimmy Buffet performed at the Hofbrau House in Reno, Nevada'],
            [20, 12, 'On this day, Jimmy Buffet performed at the Ocean Center in Orlando, Florida'],
            [21, 12, 'On this day in 1985, Jimmy Buffet performed at the Ocean Center in Orlando, Florida'],
            [22, 12, 'On this day, Jimmy Buffet performed at the Ocean Center in Orlando, Florida'],
            [23, 12, 'On this day, Jimmy Buffet performed at the Ocean Center in Orlando, Florida'],
            [24, 12, 'On this day, Jimmy Buffet performed at the Ocean Center in Orlando, Florida'],
            [25, 12, 'On this day in 1946, Jimmy Buffet was born'],
            [26, 12, 'On this day, Jimmy Buffet sailed on Euphoria II'],
            [27, 12, 'On this day, Jimmy Buffet sailed on Euphoria II'],
            [28, 12, 'On this day, Jimmy Buffet sailed on Euphoria II'],
            [29, 12, 'On this day, Jimmy Buffet sailed on Euphoria II'],
            [30, 12, 'On this day, Jimmy Buffet sailed on Euphoria II'],
            [31, 12, 'On this day, Jimmy Buffet sailed on Euphoria II']]

            date = document.getElementById('currentDate');
            fact = document.getElementById('currentFact')
            currentDate = getDate();



            function getDate() {
                const date = new Date();
                const day = date.getDate();
                const monthIndex = date.getMonth();
                const year = date.getFullYear();
                let monthForFact = monthIndex + 1;
                // Array of month names
                const monthNames = [
                    "January", "February", "March",
                    "April", "May", "June", "July",
                    "August", "September", "October",
                    "November", "December"
                ];
                const monthName = monthNames[monthIndex];
                let currentDate = (`${monthName} ${day}`)
                // console.log(currentDate);
                return currentDate;
            }
            function getFact(){
                const date = new Date();
                const day = date.getDate();
                const monthIndex = date.getMonth();
                let month = monthIndex + 1;
                for(let x = 0; x < jimmyFacts.length; x++){
                    if(jimmyFacts[x][0] == day && jimmyFacts[x][1] == month){
                        // console.log(jimmyFacts[x][2])
                        return(jimmyFacts[x][2])
                        
                    }
                    
                }

            }
            
            
            date.textContent = getDate();
            fact.textContent = getFact()

        </script>
    </body>

    <%- include('footer.ejs') %>