<%- include('nav.ejs') %>

<body>
    <div class="container">
        <h1 class="pageHeader">Welcome Back</h1>
        <div class="loginForm">
            <h2>Login</h2>
            <form method="POST" action="/authenticate">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" name="submitbutton" value="Login" class="submitbutton">
                </form>
                <a href="/signup">Don't have an account? Sign up here!</a>
        </div>
    </div>
</body>


<%- include('footer.ejs') %>