<%- include('nav.ejs') %>

    <body>
        <div class="container">
            <h1 class="pageHeader">New Recipe</h1>
            <div class="ingredientsForm">
                <form id="recipeForm" action="/addRecipe" method="post" enctype="multipart/form-data">
                    <div class="recipeNameDiv">
                        <label for="recipeName">Recipe Name:</label>
                        <input type="text" id="recipeName" name="recipeName" />
                    </div>
                    <div class="recipeInstructions">
                        <label for="recipeDescription">Description:</label>
                        <textarea type="text" id="recipeDescription" name="recipeDescription"></textarea>
                    </div>
                    <div class="recipeCategory">
                        <div id="foodButton" class="unselectedRadioButton">
                            <input type="radio" id="foodCategoryButton" name="category" value="Food" hidden />
                            <!-- <label for="html">Food</label><br /> -->
                            <p>Food</p>
                        </div>
                        <div id="drinkButton" class="unselectedRadioButton">
                            <input type="radio" id="drinkCategoryButton" name="category" value="Drinks" hidden />
                            <!-- <label for="css">Drinks</label><br /> -->
                            <p>Drinks</p>
                        </div>
                    </div>
                    
                    <div id="alcoholCategory" class="alcoholCategory">
                        <div id="alcoholicButton" class="unselectedRadioButton">
                            <input type="radio" id="alcoholicRadioButton" name="alcoholCategory" value="alcoholic" hidden />
                            <!-- <label for="html">Food</label><br /> -->
                            <p>Alcoholic</p>
                        </div>
                        <div id="nonAlcoholicButton" class="unselectedRadioButton">
                            <input type="radio" id="nonAlcoholicButtonRadio" name="alcoholCategory" value="nonAlcoholic" hidden />
                            <!-- <label for="css">Drinks</label><br /> -->
                            <p>non-Alcoholic</p>
                        </div>
                    </div>
                    <div id="ingredientsContainer">
                        <!-- Initial ingredient input -->
                        <div class="ingredient">
                            <label for="ingredient1">Ingredient 1:</label>
                            <input type="text" id="ingredient1" name="ingredient1" />
                        </div>
                    </div>
                    <div>
                        <button type="button" class="addIngredientButton" id="addIngredientButton">
                            Add Ingredient
                        </button>
                    </div>
                    <div class="recipeInstructions">
                        <label for="recipeInstructions">Instructions:</label>
                        <textarea type="text" id="recipeInstructions" name="recipeInstructions"></textarea>
                    </div>
                    <!-- <input class="recipeSubmitButton" id="recipeImage" name="recipeImage" type="file" value="Upload Image"> -->
                    <!--default html file upload button-->
                    <div>
                        <input type="file" name="image" accept="image/*" id="actual-btn">

                        <!--our custom file upload button-->
                        <label class="fileUploadButton" for="actual-btn">Choose File</label>
                    </div>

                    <input class="recipeSubmitButton" type="submit" value="Submit" />
                </form>
            </div>
        </div>
        <script>
            let foodButtonRadio = document.getElementById("foodCategoryButton");
            let drinkButtonRadio = document.getElementById("drinkCategoryButton");
            let foodButtonDiv = document.getElementById("foodButton");
            let drinkButtonDiv = document.getElementById("drinkButton");
            let alcoholCategoryDiv = document.getElementById("alcoholCategory");
            let alcoholicButtonDiv = document.getElementById("alcoholicButton");
            let nonAlcoholicButtonDiv = document.getElementById("nonAlcoholicButton");
            let alcoholicButtonRadio = document.getElementById("alcoholicRadioButton");
            let nonAlcoholicButtonRadio = document.getElementById("nonAlcoholicButtonRadio");
            
            let foodSelected = false;
            let drinkSelected = false;
            let alcoholicSelected = false;
            let nonAlcoholicSelected = false;

            foodButtonDiv.addEventListener('click', function() {
                console.log("clicked");
                foodSelected = true;
                drinkSelected = false;
                alcoholicSelected = false;
                nonAlcoholicSelected = false;
                foodButtonRadio.click();
                // console.log(foodSelected);
                UpdateButtons(foodSelected, drinkSelected);
                UpdateAlcoholButtons(alcoholicSelected, nonAlcoholicSelected);

                showDrinkCategories(foodSelected, drinkSelected, alcoholCategory)
            })

            drinkButtonDiv.addEventListener('click', function() {
                console.log("clicked");
                foodSelected = false;
                drinkSelected = true;
                drinkButtonRadio.click();
                // console.log(foodSelected);
                UpdateButtons(foodSelected, drinkSelected)
                showDrinkCategories(foodSelected, drinkSelected, alcoholCategory)

            });

            alcoholicButtonDiv.addEventListener('click', function() {
                console.log("clicked");
                alcoholicSelected = true;
                nonAlcoholicSelected = false;
                alcoholicButtonRadio.click();
                // console.log(foodSelected);
                UpdateAlcoholButtons(alcoholicSelected, nonAlcoholicSelected);
                // showDrinkCategories(foodSelected, drinkSelected, alcoholCategory)
            })
            // UpdateAlcoholButtons(alcoholic, nonAlcoholic)

            nonAlcoholicButtonDiv.addEventListener('click', function() {
                console.log("clicked");
                alcoholicSelected = false;
                nonAlcoholicSelected = true;
                nonAlcoholicButtonRadio.click();
                // console.log(foodSelected);
                UpdateAlcoholButtons(alcoholicSelected, nonAlcoholicSelected);
                // showDrinkCategories(foodSelected, drinkSelected, alcoholCategory)

            });


            function showDrinkCategories(foodSelected, drinkSelected, alcoholCategory){
                if(foodSelected == true){
                    alcoholCategoryDiv.style.display = 'none';
                }
                else if(drinkSelected == true){
                    alcoholCategoryDiv.style.display = 'flex';
                }
                else{
                    alcoholCategoryDiv.style.display = 'none';
                }

            }

            function UpdateButtons(foodSelected, drinkSelected){
                if (foodSelected == true){
                    drinkSelected = false;
                    foodButtonDiv.classList.replace("unselectedRadioButton","selectedRadioButton");
                    drinkButtonDiv.classList.replace("selectedRadioButton","unselectedRadioButton");
                    
                }

                else if (drinkSelected == true){
                    foodSelected = false;
                    foodButtonDiv.classList.replace("selectedRadioButton","unselectedRadioButton");
                    drinkButtonDiv.classList.replace("unselectedRadioButton","selectedRadioButton");
                }
                else{
                    foodButtonDiv.classList.replace("selectedRadioButton","unselectedRadioButton");
                    
                }
                checkButtons(foodSelected, drinkSelected)
            }

            function UpdateAlcoholButtons(alcoholicSelected, nonAlcoholicSelected) {
                if (alcoholicSelected == true){
                    nonAlcoholicSelected = false;
                    alcoholicButtonDiv.classList.replace("unselectedRadioButton","selectedRadioButton");
                    nonAlcoholicButtonDiv.classList.replace("selectedRadioButton","unselectedRadioButton");
                    
                }
            //     let alcoholicButtonDiv = document.getElementById("alcoholicButton");
            // let nonAlcoholicButtonDiv = document.getElementById("nonAlcoholicButton");
                else if (nonAlcoholicSelected == true){
                    alcoholicSelected = false;
                    alcoholicButtonDiv.classList.replace("selectedRadioButton","unselectedRadioButton");
                    nonAlcoholicButtonDiv.classList.replace("unselectedRadioButton","selectedRadioButton");
                }
                else{
                    alcoholicButtonDiv.classList.replace("selectedRadioButton","unselectedRadioButton");
                    nonAlcoholicButtonDiv.classList.replace("selectedRadioButton","unselectedRadioButton");

                }
                // else{
                //     foodButtonDiv.classList.replace("selectedRadioButton","unselectedRadioButton");
                    
                // }
                // checkButtons(foodSelected, drinkSelected)
                

            }

            function checkButtons(foodSelected, drinkSelected){
                console.log(foodSelected);
                console.log(drinkSelected);
            }


            
            
            



            let textarea = document.getElementById("recipeInstructions");
            textarea.addEventListener("input", function () {
                textarea.focus();
                // textarea.setSelectionRange(0, 0);
                // Calculate the height of the content inside the textarea
                var scrollHeight = textarea.scrollHeight;

                // Update the height of the textarea to match the content, if it exceeds the original size
                if (scrollHeight > textarea.clientHeight) {
                    textarea.style.height = scrollHeight + "px";
                }
            });
            // JavaScript to handle adding ingredients dynamically
            document
                .getElementById("addIngredientButton")
                .addEventListener("click", function () {
                    // Count the number of existing ingredient inputs
                    var numIngredients =
                        document.querySelectorAll(".extraIngredient").length + 1;

                    // Create a new ingredient input
                    var newIngredientDiv = document.createElement("div");
                    newIngredientDiv.classList.add("extraIngredient");

                    var label = document.createElement("label");
                    label.setAttribute("for", "ingredient" + (numIngredients + 1));
                    label.textContent = "Ingredient " + (numIngredients + 1) + ":";
                    newIngredientDiv.appendChild(label);

                    var input = document.createElement("input");
                    input.setAttribute("type", "text");
                    input.setAttribute("id", "ingredient" + (numIngredients + 1));
                    input.setAttribute("name", "ingredient" + (numIngredients + 1));
                    newIngredientDiv.appendChild(input);

                    // Append the new ingredient input to the container
                    document
                        .getElementById("ingredientsContainer")
                        .appendChild(newIngredientDiv);

                    // Show the remove button if there are multiple ingredients
                    if (numIngredients > 0) {
                        showRemoveButton(newIngredientDiv);
                    }
                });

            // Function to show the remove button for a given ingredient div
            function showRemoveButton(ingredientDiv) {
                var removeButton = document.createElement("button");
                removeButton.setAttribute("type", "button");
                removeButton.classList.add("removeIngredientButton");
                removeButton.textContent = "Remove";
                ingredientDiv.appendChild(removeButton);

                // Add event listener to remove the ingredient when the button is clicked
                removeButton.addEventListener("click", function () {
                    ingredientDiv.remove();
                });
            }
        </script>
    </body>

    <%- include('footer.ejs') %>