<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .parallax {
            /* The image used */
            background-image: url("images/birthplace.png");
            /* Set a specific height */
            height: 90vh;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            /* transition: filter 0.3s ease-in-out; */
        }

        .scrollOverText {
            /* text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); */
            /* z-index: 1; */
            font-size: 20;
            color: black;
            text-align: center;
            width: 80%;
            margin-left: 10%;
        }

        .parallaxContainer{
  padding-top: 10%;
}

        .empty {
            background-color: grey;
            height: 1000px;
        }
    </style>
</head>
<body class="container">
    <!-- <div class="parallax" id="parallaxDiv1">
       
    </div>
    <div class="scrollOverText">
        <p>Jimmy Buffett was born on December 25, 1946, in Pascagoula, Mississippi, USA, to James Delaney
            Buffett Jr., a naval architect, and Mary Lorraine Peets.</p>
    </div> -->
    <div class="parallaxContainer" id="parallaxContainerID"></div>
   
    <!-- <div class="empty"></div> -->
    <!-- <img src="../public/images/parallax1.png"> -->

    <script>
        let parallaxData = [
            {
                imageUrl: 'images/parallax1.png',
                text:  "Jimmy Buffett was born on December 25, 1946, in Pascagoula, Mississippi, USA, to James Delaney Buffett Jr., a naval architect, and Mary Lorraine Peets."
            },
            {
                imageUrl: 'images/parallax2.png',
                text: "Raised in Mobile, Alabama, Buffett developed a love for music and learned to play the guitar as a teenager." 
            },
            {
                imageUrl: 'images/parallax3.png',
                text: "He was inspired by the coastal lifestyle of the Gulf Coast region and began performing in local bands during his high school years." 
            },
            {
                imageUrl: 'images/parallax4.png',
                text: "Buffett attended the University of Southern Mississippi and later transferred to Auburn University, where he graduated with a degree in journalism."
            },
            {
                imageUrl: 'images/parallax5.png',
                text: "During his college years, he continued to pursue music, performing in local venues and honing his songwriting skills."
            },
            {
                imageUrl: 'images/parallax6.jpg',
                text: "In the late 1960s, Buffett moved to Nashville to pursue a career in country music."
            },
            {
                imageUrl: 'images/parallax7.jpg',
                text: "He released his debut album, \"Down to Earth,\" in 1970, but it received little attention"
            },
            {
                imageUrl: 'images/parallax8.jpeg',
                text:"Determined to find his own musical style, Buffett began incorporating elements of Gulf Coast culture and island escapism into his music."
            },
            {
                imageUrl: 'images/parallax9.png',
                text:"In 1973, Buffett released the album \"A White Sport Coat and a Pink Crustacean,\" which featured the song \"Why Don't We Get Drunk (and Screw),\" a humorous track that gained attention."
            },
            {
                imageUrl: 'images/parallax10.jpeg',
                text: "His follow-up album, \"Living and Dying in 3/4 Time\" (1974), brought him mainstream success with hits like \"Come Monday.\""
            },
            {
                imageUrl: 'images/parallax11.jpg',
                text: "Buffett's breakthrough came with the release of \"Changes in Latitudes, Changes in Attitudes\" (1977), featuring his signature song, \"Margaritaville.\" The laid-back anthem became a global phenomenon, solidifying Buffett's reputation as the king of \"gulf and western\" music." 
            },{
                imageUrl: 'images/parallax12.jpeg',
                text:"Throughout the 1980s, Buffett continued to release hit albums and tour extensively, building a loyal fan base known as \"Parrotheads.\""

            },
            {
                imageUrl: 'images/parallax13.jpeg',
                text: "Beyond music, Buffett ventured into various business endeavors, including restaurants, hotels, casinos, and merchandise."
            },
            {
                imageUrl: 'images/parallax14.jpeg',
                text: "His Margaritaville brand encompasses a chain of restaurants and retail stores, as well as a radio station on Sirius XM. He has also authored several books, including novels and memoirs."
            },
            {
                imageUrl: 'images/parallax15.jpeg',
                text: "Buffett is passionate about environmental conservation and has supported numerous causes related to marine conservation and disaster relief efforts. He founded the Save the Manatee Club and has been actively involved in organizations such as the Surfrider Foundation and the Gulf of Mexico Alliance."
            },
            {
                imageUrl: 'images/parallax16.jpeg',
                text: "Jimmy Buffett's impact on music and popular culture remains profound even after his passing on September 1, 2023."
            },
            {
                imageUrl: 'images/parallax17.jpeg',
                text: "Known for his laid-back island-inspired music and persona, Buffett's legacy transcends generations, shaping an entire lifestyle centered around relaxation, escapism, and the pursuit of \"island time.\" His songs, including the iconic \"Margaritaville,\" continue to evoke a sense of carefree joy and nostalgia for fans around the world."
            },
            {
                imageUrl: 'images/parallax18.jpeg',
                text: "Though Jimmy Buffett may have passed away, his spirit lives on through his music, his businesses, and the countless lives he touched with his generosity and charisma. He remains a beloved figure in American popular culture, cherished by fans as the eternal captain of their island dreams."
            },
            {
                imageUrl: 'images/parallax19.jpeg',
                text:""
            },
        ]

        function createParallaxDivs(){
            let container = document.getElementById("parallaxContainerID")
            parallaxData.forEach(function(data) {
                let parallaxDiv = document.createElement('div');
                parallaxDiv.classList.add("parallax");
                parallaxDiv.style.backgroundImage = 'url(' + data.imageUrl + ')';
                let scrollOverText = document.createElement('div');
                scrollOverText.classList.add('scrollOverText');
                scrollOverText.innerHTML = '<p>' + data.text + '</p>';
                container.appendChild(parallaxDiv);
                container.appendChild(scrollOverText);


            })
        }

        function handleScroll() {
    let parallaxDivs = document.querySelectorAll('.parallax');
    parallaxDivs.forEach(function (parallaxDiv) {
        let scrollPosition = window.scrollY;
        let parallaxDivTop = parallaxDiv.offsetTop;
        let parallaxDivBottom = parallaxDivTop + parallaxDiv.offsetHeight; // Calculate the bottom position of the parallax div

        // Check if the bottom of the parallax div is within the viewport
        if (scrollPosition < parallaxDivBottom && scrollPosition > parallaxDivTop) {
            // Calculate the blur value based on the distance between the scroll position and the top of the parallax div
            let blurValue = Math.abs(scrollPosition - parallaxDivTop) / 30; // Adjust the divisor to control the blur intensity
            parallaxDiv.style.filter = 'blur(' + blurValue + 'px)';
        } else {
            parallaxDiv.style.filter = 'blur(0px)'; // Reset blur if the parallax div is not within the viewport
        }
    });
}

        createParallaxDivs();
        window.addEventListener('scroll', handleScroll);


    </script>

</body>
</html>
